Source: hsn2-console
Section: unknown
Priority: optional
Maintainer: CERT Polska <info@cert.pl>
Build-Depends: debhelper (>= 8.0.0), python-all (>= 2.6.6-3), python-setuptools
Standards-Version: 3.9.3

Package: hsn2-console
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-hsn2-lib
Description: HSN2 Command Line Interface.
